.mt-huge {
  margin-top: 24rem;
}
.mt-medium {
  margin-top: 4rem;
}

.mr-small {
  margin-right: 2rem;
}

.mr-medium {
  margin-right: 4rem;
}

.mr-large {
  margin-right: 6rem;
}

.mb-large {
  margin-bottom: 6rem;
}
.mb-huge {
  margin-bottom: 8rem;
}

.width-half {
  width: 50%;
}
